<!DOCTYPE html>
<html>
<head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title><%= content_for?(:title) ? yield(:title) : "SF Smart Money Network" %></title>

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
    <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
            <div class="container">
                <a data-toggle="collapse" data-target=".nav-collapse" class="btn btn-navbar">
                    <span class="icon-bar"></span>
                </a>
                <a href="/" class="brand">SF Smart Money Network</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/providers">Resource Providers</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</head>
<body>
    <div class="jumbotron">
        <img src="/assets/holder.js/800x300" class="img-polaroid">
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                <h4>Filter</h4>
                <div class="well">
                    <h5>Income</h5>
                    <div class="input-prepend">
                        <span class="add-on">$</span>
                        <input id="prepend-input" type="text" placeholder="Income" class="span8"></div>
                    <h5>Program Type</h5>
                    <label class="checkbox">
                        <input type="checkbox">Budgeting</label>
                    <label class="checkbox">
                        <input type="checkbox">Credit Counseling</label>
                    <label class="checkbox">
                        <input type="checkbox">Foreclosure</label>
                    <label class="checkbox">
                        <input type="checkbox">Home-ownership</label>
                    <label class="checkbox">
                        <input type="checkbox">Small Business</label>
                    <h5>Zip Code</h5>
                    <label>
                        <input type="text" class="span11"></label>
                    <h5>Gender</h5>
                    <label class="radio">
                        <input type="radio" name="genderOptions" id="male" value="male">Male</label>
                    <label class="radio">
                        <input type="radio" name="genderOptions" id="female" value="female">Female</label>
                    <label class="radio">
                        <input type="radio" name="genderOptions" id="other" value="other">other</label>
                    <h5>Primary Language</h5>
                    <select class="span11">
                        <option value="English">English</option>
                        <option value="Cantonese">Cantonese</option>
                        <option value="Mandarin">Mandarin</option>
                        <option value="Russian">Russian</option>
                        <option value="Spanish">Spanish</option>
                        <option value="Tagalog">Tagalog</option>
                        <option value="Vietnamese">Vietnamese</option>
                        <option value="Hawaiian">Hawaiian</option>
                    </select>
                    <h5>Date of Birth</h5>
                    <input type="date" class="span10">
                    <h5>Family Size</h5>
                    <select class="span11">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                    </select>
                    <h5>Children in Family</h5>
                    <select class="span11">
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                    </select>
                </div>
            </div>
            <div class="span10">
                <%= render 'layouts/messages' %>
                <hr>

                <%= yield %>

            </div>
        </div>
    </div>
</body>
</html>